.navbar {
  background-color: black;
}
.navbar-brand {
  font-weight: bold;
  font-size: 30px;
}
.navbar-dark .navbar-nav a {
  color: white;
  font-size: 20px;
  padding-left: 25px;
  font-weight: 500;
  text-decoration:none;
}

.navbar-dark .navbar-nav a:hover{
  color: var(--main-color);
}
.navbar-collapse {
  width: 100%;
  width: 100% !important;
}
