.Footer {
    background: black;
    color: white;
    top:0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*******************first Row**************************/
.footer-info p {
    line-height: 2;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}
.footer-info .logo {
    color: white;
    font-size: 25px;
    margin: 10px;
    line-height: 4;
    font-weight: 500;
    border: 1px solid var(--main-color);
    ;
    border-radius: .5rem;
    padding: 5px 5px 10px 5px;
    text-decoration: none;
}
.footer-info .logo:hover {
    border-color: var(--main-color);
    color: white;
}
.social-links {
    font-size: 35px;
}
.social-links a {
    color: white;
    padding: 10px;
}
.social-links a:hover {
    color: var(--main-color);
}

/******************************Second Row************************************/
.footer-route {
    margin-bottom: 30px;
}

.footer-route h4 {
    line-height: 2;
    font-family: "Raleway", sans-serif;
}
.footer-route li {
    list-style: none;
}
.footer-route a {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    line-height: 2;
    text-align: center;
    margin-left: -25px;
    font-size: 20px;
}

.footer-route a:hover {
    color:var(--main-color);
}
.arrow {
    color: var(--main-color);
}

/******************************thired Row************************************/

.message h2 {
    padding-top:15px;
    padding-bottom: 40px;
    font-size: 30px;
    color:  var(--main-color);
}
.message .submit-btn {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    padding: 10px 35px 10px 35px;
    border-radius: 10px;
    transition: 0.5s;
    color: #fff;
    background: var(--main-color);;
    border: 1px solid  var(--main-color);;
    text-decoration: none;
}
.message .submit-btn:hover {
    color: white;
    border-color:  var(--main-color);;
    background: rgba(255, 255, 255, 0.1);
}